body{
    font-family: 'roboto';
    color: black;
}
#container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin:0;
    border:0;
}
.header.navigation{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    border:0;
    margin:0;
}
.header.navigation,
.secondSection,
.thirdSection,
.footer{
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    flex:1;
    height: 25%;
}
.navbar{
    display: flex;
    flex-direction: row;
    /* height:20px; */
    /* justify-content: flex-end; */
}
.links{
    display: flex;
    flex:1;
    padding:1em;
    width:100px;
    height:auto;
    align-items: center;
    justify-content: flex-end;
}
.link{
    padding-left:1em;
}
.introduction{
    display:flex;
    padding-top:1em;
    justify-content: space-between;
    /* justify-content: stretch; */
}
.introduction .text{
    padding-right:150px;
}
.text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex:0 0 auto;
    width: 420px;

}
.text p{
    font-size: 24px;
    width: 520px;
    color: #E5E7EB;
}
.image{
    background-color: grey;
    flex:1;
    justify-content: center;
    text-align: center;

    /* justify-content: stretch; */
}
.signup{
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.signup a{
    width:20px;
}
.secondSection{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.items{
    display:flex;
    flex-direction: row;
    /* padding:2em; */
    justify-content: space-between;
}
.item{
    width: 150px;
    height: 250px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.box{
    width: 150px;
    height: 150px;
    border:3px solid #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.thirdSection{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    padding-bottom:50px;
}
.footer{
    padding:2em; 
    display:flex;
    justify-content: center;
}
.ending{
    display:flex;
    border-radius: 5%;
    background-color: #3882F6;
    color:white;
    flex-wrap: wrap;
    align-items: center;
}


